<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walixiwa.thin.bdplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".PlayerActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeFullScreen"
            android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>

</manifest>